@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 


.logo{
    width: 300px;
}
nav{
    display: flex;
    flex-direction: row;
}
.precautions{
    color: black;
    margin-left: 900px;
    margin-top: 60px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}
body{
    font-family: 'poppins',sans-serif;
}
h2{
    margin-left: 620px;
}
p{
    margin-left: 32px;
    margin-right: 32px;
}
.parkinson{
    width:450px;
    margin-left: 500px;
    height:400px;
    border-radius: 10px;
}
ul{
    margin-left: 32px;
}
h5{
    margin-left: 32px;
}
.other{
    display: flex;
    flex-direction: row;
}
.row{
    background-color: #a4b0f5;
    
    color: white;
    height: 30px;
    text-align: center;
}