
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

.logo{
    width: 300px;
}
nav{
    display: flex;
    flex-direction: row;
}
.precautions{
    color: black;
    margin-left: 900px;
    margin-top: 60px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

/*.box1{
    width:300px;
    margin-left: 450px;
    background-color: violet;
    height:300px;
}
.box2{
    width:300px;
    margin-left: 50px;
    background-color: violet;
    height:300px;
}*/

.boxes{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    font-family: 'poppins',sans-serif;

}
.info{
    font-family: 'poppins',sans-serif;
    margin-left: 32px;
    margin-top: 40px;
}


/*credits */

.e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 240px;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .credits{
    display: flex;
    flex-direction: row;
    
    font-family: 'poppins',sans-serif;
    margin-left: 32px;
    margin-top: 40px;
  }
  .e-card {
    margin-left: -50px;
  }

  



  .card {
    width: 190px;
    height: 254px;
    margin-left: 400px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    background-image: linear-gradient(180deg , 	#bba8ff , 	#d5cdf3);
   }
   .card2 {
    width: 190px;
    height: 254px;
    margin-left: 200px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    background-image: linear-gradient(180deg , 	#bba8ff , 	#d5cdf3);

   }
   
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   .card2-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   .card2-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   .card2:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
     
   .card2:hover .card2-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   .row{
    background-color: #a4b0f5;
    color: white;
    height: 30px;
    text-align: center;
    font-family: 'poppins',sans-serif;

}